html,body {
    height: 100%;
}
#titlediv, #scorediv {
    text-align: center;
    color: red;
}
#board-table {
    height: 50%;
    margin: auto;
    padding:0;
    border: 5px solid brown;
}

.wrapper {
    margin: 0;
    width: 100%;
    height: 25%;

}

.empty-tile {

    margin: 0 auto;
    padding: 0;
    border: 3px solid brown;
    background-color: #d5dbb6;
}

.random-tile {
    margin: 0 auto;
    padding: 0;
    border: 3px solid brown;
    background-color: #a5b070;
}

.new-tile {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
}

.new-tile {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 5rem;
}


