html,body {
    height: 100%;
    background-color: #d8642e;
}
#titlediv, #scorediv {
    text-align: center;
    color: #fafafa;
}

.square {
    margin: auto;
    position: relative;
    width: 50%;
}

.square:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
}

#board-table {
    padding:0;
    border: 5px solid #d8642e;
}

.empty-cell {
    display: flex;
    width: 25%;
    height: 25%;
    margin: 0;
    padding: 0;
    border: 5px solid #d8642e;
    background-color: #a4b74b;
    transition: background-color, .3s;
}

.full-cell {
    display: flex;
    width: 25%;
    height: 25%;
    margin: 0;
    padding: 0;
    border: 5px solid #d8642e;
    background-color: #a346a5;
    transition: background-color, .3s;
}

.number-cell {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 5rem;
    color: #fafafa;
}


