html,body {
    height: 100%;
    background-color: #92967e;
}
#titlediv, #scorediv {
    text-align: center;
    color: #fafafa;
}
#board-table {
    height: 50%;
    margin: auto;
    padding:0;
    border: 10px solid #ce9797;
}

.wrapper {
    margin: 0;
    width: 100%;
    height: 25%;

}

.empty-cell {

    margin: 0 auto;
    padding: 0;
    border: 5px solid #ce9797;
    background-color: #d5dbb6;
    transition: background-color, .3s;
}

.full-cell {
    margin: 0 auto;
    padding: 0;
    border: 5px solid #ce9797;
    background-color: #995353;
    transition: background-color, .3s;
}

.number-cell {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 5rem;
    color: #fafafa;
}


